:root {
  --primary-color: darkblue;
  --black: black;
  --white: white;
  --gray: rgb(231, 231, 231);
}

nav {
  background-color: var(--primary-color);
  padding: 10px;
}

nav a {
  color: var(--white);
  display: block;
  padding: 20px;
}

h1 {
  color: var(--primary-color);
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid var(--black);
  padding: 2px;
  box-shadow: 0 0 30px var(--gray);
}

p {
  padding: 0;
}

main {
  max-width: 840px;
}

aside {
  width: 250px;
  margin: 10px;
  border: 3px solid var(--black);
  background-color: var(--gray);
  padding: 10px;
  color: var(--black);
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

footer {
  margin-top: 20px;
  border-top: 1px solid var(--black);
  text-align: center;
}
